.intent-link {
	fill: none;
	overflow: visible;

	.default-point {
		fill: rgba(white, 0.5);

		&.selected {
			fill: rgba(blue, 0.5);
		}
	}

	@keyframes dash {
		from {
			stroke-dashoffset: 24;
		}
		to {
			stroke-dashoffset: 0;
		}
	}

	path {
		fill: none;
		pointer-events: all;
		stroke: red;
	}

	&.path-selected {
		stroke: rgb(0, 192, 255) !important;
		stroke-dasharray: 10, 2;
		animation: dash 1s linear infinite;
	}
}
