.custom-link {
	#triangle {
		path {
			fill: currentColor;
		}
	}
}

.custom-link-container {
	position: relative;
	fill: none;
	overflow: visible;
	pointer-events: all;
}

.default-point {
	color: lightgray;
	overflow: visible;
	pointer-events: all;

	&.hovered {
		color: rgb(0, 192, 255);
	}
}

.delete-icon {
	color: white;
	cursor: pointer;
	display: flex;
	pointer-events: all;
}
