.custom-link {
	fill: none;
	overflow: visible;

	@keyframes dash {
		from {
			stroke-dashoffset: 24;
		}
		to {
			stroke-dashoffset: 0;
		}
	}

	path {
		fill: none;
		pointer-events: all;
	}

	#triangle {
		path {
			fill: currentColor;
		}
	}
}

.delete-icon {
	color: white;
	cursor: pointer;
	display: flex;
	pointer-events: all;
}
