<!-- Label Host -->
<ng-template #labelLayer></ng-template>

<svg class="custom-link" [ngStyle]="{ color: selectColor() | async }">
	<g>
		<defs>
			<marker id="triangle" viewBox="0 0 20 20" refX="15" refY="4" markerUnits="strokeWidth" markerWidth="1" markerHeight="1" orient="auto">
				<path d="M 0 0 L 10 5 L 0 10 z" fill="currentcolor" stroke="currentcolor" />
			</marker>
		</defs>
		<path [attr.stroke-width]="width" stroke="currentcolor" [attr.d]="path$ | async" marker-end="url(#triangle)"></path>
		<path
			(mouseleave)="setSelected(false)"
			(mouseenter)="setSelected()"
			[attr.stroke-width]="20"
			stroke="currentcolor"
			[attr.stroke-linecap]="'round'"
			[attr.data-linkid]="id"
			[attr.stroke-opacity]="!getLocked() && (selectSelected() | async) ? '0.1' : '0'"
			[attr.d]="path$ | async"
			marker-end="url(#triangle)"
		></path>
	</g>
	<g *ngFor="let point of points$ | async as points">
		<circle [attr.cx]="point.selectX() | async" [attr.cy]="point.selectY() | async" r="5" class="default-point" />

		<circle
			(mouseleave)="setSelected(false)"
			(mouseenter)="setSelected()"
			[attr.data-id]="point.id"
			[attr.data-linkid]="id"
			[attr.cx]="point.selectX() | async"
			[attr.cy]="point.selectY() | async"
			r="15"
			[attr.opacity]="0"
			class="default-point"
			[ngClass]="{ 'default-point': true, selected: point.selectSelected() | async }"
		/>
	</g>
</svg>
